{% extends 'base.html' %}
{% block title %}Inventory - Station{% endblock %}
{% block content %}
<div>
    <div class="w-full h-16 flex items-center justify-left border-b border-gray-400 border-solid p-4">
        <p class="font-berkeley">AUTOMATION</p>
    </div>
    <div class="flex flex-row flex-wrap p-6">
        {% for workflow in workflows %}
        <a href="" hx-trigger="click" hx-get="{% url 'run_automation' workflow.id %}" hx-target="#workflow-target"
            hx-swap="innerHTML" hx-indicator="#spinner">
            <div class="border border-gray-400 border-solid w-60 h-2/3 p-1 mr-5 my-2">
                <div class="flex items-center">
                    <i class="fa-solid fa-robot fa-xs my-2 mx-1"></i>
                    <div class="flex-1 flex flex-col mx-2">
                        <p class="text-xs font-berkeley">{{workflow.name}}</p>
                    </div>
                </div>
            </div>
        </a>
        {% empty %}
        <p class="font-ibm-plex">No automation workflows</p>
        {% endfor %}
    </div>
    <div id="workflow-target" class="flex flex-row flex-wrap p-6 mt-5 justify-center">
        <i id="spinner" class="fa-2x fa-solid fa-compass fa-spin htmx-indicator"></i>
    </div>
</div>
{% endblock %}
